@model CarWashBer.ViewModels.NewReservationViewModel

<h1>Add a new reservation</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <div class="col-sd-10">
                    @Html.DropDownListFor(o => o.CarId,
                    new SelectList(ViewBag.CarsList, "CarId", "LicensePlate"))
                </div>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <table>
                    @for (var i = 0; i < Model.Operations.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(x => Model.Operations[i].OperationId)
                                @Html.DisplayFor(it => Model.Operations[i].Name)
                            </td>
                            <td>
                                @Html.CheckBoxFor(it => Model.Operations[i].IsChecked)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}