@model CarWashBer.ViewModels.NewCustomerViewModel

<h1>Add a new customer</h1>

<h4>Fill the fields below</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CarBrand" class="control-label"></label>
                    <input asp-for="CarBrand" class="form-control" />
                    <span asp-validation-for="CarBrand" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CarModel" class="control-label"></label>
                    <input asp-for="CarModel" class="form-control" />
                    <span asp-validation-for="CarModel" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Erase</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
