@model CarWashBer.ViewModels.RegisterViewModel

<h1>Register</h1>

<h4>Create a new account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="CarBrandId"></label>
                    <select asp-for="CarBrandId" asp-items="@(new SelectList(ViewBag.ListOfBrands,"CarBrandId","BrandName"))" class="form-control" id="ListOfBrands"></select>
                    <span asp-validation-for="CarBrandId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarModelId"></label>
                    <select asp-for="CarModelId" asp-items="@(new SelectList(string.Empty,"CarModelId","ModelName"))" class="form-control" id="ListOfModels"></select>
                    <span asp-validation-for="CarModelId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
            <div>
                <a href="Login">Already have an account?</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var items = "<option value='0'>Select</option>";
            $("#ListOfModels").html(items);
        });
    </script>

    <script>
        $("#ListOfBrands").change(function () {

            var carBrandId = $("#ListOfBrands").val();
            var url = "/Account/GetModelsList";

            $.getJSON(url, { id: carBrandId }, function (data) {
                var item = "";
                $("#ListOfModels").empty();
                $.each(data, function (i, CarModel) {
                    item += "<option value='" + CarModel.value + "'>" + CarModel.text + "</option>"
                });
                $("#ListOfModels").html(item);
            });
        });
    </script>

}
