@model CarWashBer.ViewModels.CarViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarBrandId"></label>
                <select asp-for="CarBrandId" asp-items="@(new SelectList(ViewBag.ListOfBrands,"CarBrandId","BrandName"))" class="form-control" id="ListOfBrands"></select>
                <span asp-validation-for="CarBrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModelId"></label>
                <select asp-for="CarModelId" asp-items="@(new SelectList(string.Empty,"CarModelId","ModelName"))" class="form-control" id="ListOfModels"></select>
                <span asp-validation-for="CarModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var items = "<option value='0'>Select</option>";
            $("#ListOfModels").html(items);
        });
    </script>

    <script>
        $("#ListOfBrands").change(function () {
            
            var carBrandId = $("#ListOfBrands").val();
            var url = "/Cars/GetModelsList";

            $.getJSON(url, { id: carBrandId }, function (data) {
                var item = "";
                $("#ListOfModels").empty();
                $.each(data, function (i, CarModel) {
                    item += "<option value='" + CarModel.value + "'>" + CarModel.text + "</option>"
                });
                $("#ListOfModels").html(item);
            });
        });
    </script>
}